# Core ML libraries
numpy==1.24.3
pandas==2.0.3
scikit-learn==1.3.0
matplotlib==3.7.2
seaborn==0.12.2

# Audio processing
librosa==0.10.1
soundfile==0.12.1
audioread==3.0.0

# TensorFlow (for MFCC+CNN) - TensorFlow Lite is included with TensorFlow
# tensorflow==2.13.0
tensorflow==2.10.0

# PyTorch & Transformers (for Wav2Vec2)
torch==2.1.0
torchaudio==2.1.0
transformers==4.35.0
datasets==2.14.0
pyarrow==10.0.1
accelerate==0.24.0

# Utilities
tqdm==4.66.1
pyyaml==6.0.1


# video model

ultralytics==8.2.0
opencv-python
